# THIS FILE IS AUTO GENERATED.
# PLEASE DON'T MANUALLY ADD NEW SCOPES, AS THEY ARE REGULATED BY SECURITY RULES.
# TO UPDATE TO LATEST VERSION, PLEASE RUN THE COMMAND BELOW:
# /bin/bash -c "$(curl -fsSL https://gitlab.fftech.info/infrastructure/pipelines/scripts/raw/master/updateNpmScopes.sh)"

//artifacts-we1.farfetch.net/artifactory/api/npm/npm-public/:always-auth=true
//artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/:always-auth=true

registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-public/
@farfetch:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@portal:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@ds-consumer:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@portal-toolbox:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@ffci:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@webpagetest:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@ds:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@mondrian:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@storm:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@sal:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@b2b:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@bw:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@fps:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
@dragon:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/npm-stable/
